.bgAguas {
    background-image: url("../images/hawaii.jpg") ;
    filter:opacity(100%);
    background-size: 80% 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fondo.jpg"); */


}